<?xml version="1.0" encoding="utf-8"?>
<!--
  web.config for Node.js on Azure Windows Web App (IIS + iisnode)
  
  KEY SETTINGS FOR NODE VERSION UPGRADE:
  - nodeProcessCommandLine: points to the node.exe used by iisnode
  - This must be updated if you're manually managing node versions
  - Azure App Service uses WEBSITE_NODE_DEFAULT_VERSION app setting
    to control which node version iisnode uses (recommended approach)
-->
<configuration>
  <system.webServer>
    
    <!-- iisnode handler: routes all requests through node.js via IIS -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- First, check if the request is for a static file -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>

        <!-- All other requests go to Node.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
      nodeProcessCommandLine="node.exe"
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
    />

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
